<p style="color: green"><%= notice %></p>

<% content_for :title, "Rewards" %>

<h1>Rewards</h1>

<div id="rewards">
  <% @rewards.each do |reward| %>
    <%= render reward %>
    
  <% end %>
</div>

<%= link_to "New reward", new_reward_path %>
